crypto_box?

Hi, as a newbie to encryption/signing etc, I'm having a hard time trying to communicate with a system that uses Libsodiums crypto_box functions.

There's a Python example along these lines:
```
    crypto_box = Box(PrivateKey(session_private_key, encoder=nacl.encoding.HexEncoder),
                     PublicKey(session_public_key, encoder=nacl.encoding.HexEncoder))

    login_info = nacl.encoding.HexEncoder.decode(login_info_hex)
    login_info_nonce = nacl.encoding.HexEncoder.decode(login_info_nonce_hex)

    login_info = crypto_box.decrypt(login_info, login_info_nonce)
```

I can't seem to find information as to which algorithms are used under the hood, for these box functions. So I'm having a hard time trying to implement anything useful.
Is this not possible with NSec? If it isn't do you have any suggestions as to the best .net library to use where this would be possible?

I did find this information:
Key exchange: X25519
Encryption: **XSalsa20**
Authentication: Poly1305

Which leads me to believe, it might not be possible with NSec, since I don't see XSalsa20?


Thank you. I figured as much. I have implemented the needed function using libsodium-core. I can't seem to see any .net binding that looks actively maintained. To be honest NSec looked much cleaner, which is why I was hoping to be able to use it for my needs. :)

Is there any particular reason XSalsa20Poly1305 is not part of NSec? Or crypto_box for that matter?

Great that libsodium-core works for you.

Both NSec and libsodium-core are actively maintained (though libsodium-core won’t receive any improvements beyond bug fixes). There is just not a lot of active development since the feature set of libsodium has been quite stable for a while. 

I agree that NSec is mich cleaner than libsodium-core, which is why I started it in the first place. (I might be biased, though 😉). 

NSec is intended for implementing standards such as JWT or CWT. XSalsa20Poly1305 and in particular `crypto_box` are quite exotic; I’m not aware of any standards that rely on them. 


Thank you for taking you time to reply to my probably very naive questions.
I have resorted to using both NSec and libsodium-core for the time being, limiting libsodium-core to as little as possible.
Also thank you for a very nice library 👍 

> I can't seem to see any .net binding that looks actively maintained.

For informational purposes, I would like to add that Geralt (my library) and BlazorSodium are also maintained. The state of some others is less clear (e.g. BetterCallSodium is new ish but has no code). NSec uses OOP, Geralt doesn't, and BlazorSodium is only for Blazor WASM. It's really personal preference and which algorithms you need, but NSec is the most established and well tested.

> Is there any particular reason XSalsa20Poly1305 is not part of NSec? Or crypto_box for that matter?

In addition, there are [issues](https://github.com/jedisct1/libsodium/issues/586) with `crypto_box`. It doesn't provide sender authentication (see [RFC 7748 Section 7](https://www.rfc-editor.org/rfc/rfc7748#section-7)), it uses HSalsa20 instead of a KDF for key derivation from a shared secret, (X)ChaCha20 is preferable to (X)Salsa20 as it has better performance and diffusion whilst being more widely used, and both parties can decrypt messages when you often want ephemeral keys in a key exchange to prevent that.