IETF ChaCha20-Poly1305

https://github.com/jedisct1/libsodium-doc/blob/master/secret-key_cryptography/ietf_chacha20-poly1305_construction.md

Is NSec gonna implement IETF ChaCha20-Poly1305 ? Cause for XChaCha20-Poly1305 is using 24 bytes(which means 192 bits). I would like to use IETF which is using 32 bytes nonce (which means 256 bits).

The IETF variant of the ChaCha20-Poly1305 construction is already implemented in NSec. Have a look at the `ChaCha20Poly1305` class. You can get an instance using [the static `ChaCha20Poly1305` property of the `AeadAlgorithm` class](https://nsec.rocks/docs/api/nsec.cryptography.aeadalgorithm#chacha20poly1305).

https://github.com/ektrah/nsec/blob/778030bf4c3d6c28c357f1dd52177098513bea1a/src/Cryptography/ChaCha20Poly1305.cs#L25

but here it uses 12 bytes which means 96 bits. But IETF using 32 bytes how is that using IETF variant?

Couldn't understand it sorry for that

The IETF variant of ChaCha20-Poly1305 uses a 256-bit key and a 96-bit nonce; see [Section 2.8 of RFC 7539](https://datatracker.ietf.org/doc/html/rfc7539#section-2.8).